.reservas{
    margin-top: 118px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.titulo-reservas{
    font-family: var(--display-01-semibold-font-family);
    font-size: var(--display-01-semibold-font-size);
    font-weight: var(--display-01-semibold-font-weight);
}
.img-reserva{
    object-fit: contain;
    width: 250px;
    height: 300px;
}
.caption{
    font-family: var(--caption-regular-font-family);
    font-size: var(--caption-regular-font-size);
}
.info{
    font-family: var(--h6-semibold-font-family);
    font-weight:var(--h6-semibold-font-weight);
    font-size: var(--h6-semibold-font-size);
}
.wraper-columna{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.wraper-fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

}
.wraper-informacion{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.contenedor-libro-informacion{
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
.contenedor-reserva{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* gap: 100px; */
    background: linear-gradient(
        180deg,
        rgb(173, 205, 255) 0%,
        rgb(255, 255, 255) 100%
      );
    padding: 16px 60px;
    border-radius: 4px;
    align-items: center;
  
}
.img-reserva-contenedor{
    width: 15%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    
}

.img-x{
    width: 100px;
    transition: transform 0.9s ease-in-out;
}
.img-x:hover{
    transform: rotate(360deg) scale(1.1);
    cursor: pointer;
}
.mensaje-reservas{
    font-family: var(--h6-semibold-font-family);
    font-weight:var(--h6-semibold-font-weight);
    font-size: var(--h6-semibold-font-size);
}
#cancelar-reserva{
    display: none;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#contenedor-cancelar{
    background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 16px;
 margin: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#enviar{
    font-family: var( --paragraph-03-semi-bold-font-family);
    font-size: var(--paragraph-03-semi-bold-font-size);
    font-weight: var(--paragraph-03-semi-bold-font-weight);
    color: var( --color-shades-50);
    background-color: var( --colorprimary-500);
    padding: 20px 14px;
    outline: none;
    border: none;
    border-radius: 25px;
    max-width: 184px ;
    max-height: 50px;
    width: 100%;
    transition: transform 0.6s ease, background-color 0.6s ease;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
#enviar:hover{
    cursor: pointer;
  background-color: var( --colorprimary-600);
  transform: scale(1.1);
}
.label{
    font-family: var( --paragraph-03-regular-font-family);
    font-size: var( --paragraph-03-regular-font-size);
    font-weight: var(--paragraph-03-regular-weight);
    color: var(--colorNeutral-800);
    min-height: 44.5px;
    min-width: 416.5px;
    display: flex;
    justify-content: center;
}
.contenedor-envios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: red;
}