#contenido{
  display: none;
}
 #formulario-reserva {
  display: none;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#contenido-ventana {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  max-height: 850px;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 16px;
 margin: 50px;

}

.tituloFormulario{
  font-family: var(--h1-semi-bold-font-family);
  font-size: var( --h1-semi-bold-font-size );
  font-weight: var(--h1-semi-bold-font-weight);
  color: black;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wraperLabels{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.wraper{
  display: flex;
  flex-direction: column;
}
.wraper .label{
  font-family: var( --paragraph-03-regular-font-family);
  font-size: var( --paragraph-03-regular-font-size);
  font-weight: var(--paragraph-03-regular-weight);
  color: var(--colorNeutral-800);
  min-height: 44.5px;
  min-width: 416.5px;
}
.wraper .input-form{
  min-height: 44.5px;
  max-width: 416.5px;
  border-radius: 4px ;
  border: 1px solid var(--colorneutral-400);
  color: var(--colorneutral-500);
  font-family: var(--paragraph-03-regular-font-family);
  font-size: var(--paragraph-03-regular-font-size);
  padding: 0px 12px;
  outline: none;
}
.wraper .mensaje{
  border-radius: 4px ;
  border: 1px solid var(--colorneutral-400);
  color: var(--colorneutral-500);
  font-family: var(--paragraph-03-regular-font-family);
  font-size: var(--paragraph-03-regular-font-size);
  padding: 12px;
  outline: none;
  width: 100%;
}
.wraper .input-form:hover, .mensaje:hover{
  border: 1.5px solid #0057E0;
  transition: border 0.6 ease-in-out;
}
#cerrarVentana{
  font-family: var( --paragraph-03-semi-bold-font-family);
  font-size: var(--paragraph-03-semi-bold-font-size);
  font-weight: var(--paragraph-03-semi-bold-font-weight);
  color: var( --color-shades-50);
  background-color: var( --colorprimary-500);
  padding: 20px 14px;
  outline: none;
  border: none;
  border-radius: 25px;
  max-width: 184px ;
  max-height: 50px;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease, background-color 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:41px;
  right: 20px;
}
#cerrarVentana:hover, #enviar:hover{
  cursor: pointer;
  background-color: var( --colorprimary-600);
  transform: scale(1.1);
}
#enviar{
  font-family: var( --paragraph-03-semi-bold-font-family);
  font-size: var(--paragraph-03-semi-bold-font-size);
  font-weight: var(--paragraph-03-semi-bold-font-weight);
  color: var( --color-shades-50);
  background-color: var( --colorprimary-500);
  padding: 20px 14px;
  outline: none;
  border: none;
  border-radius: 25px;
  max-width: 184px ;
  max-height: 50px;
  width: 100%;
  transition: transform 0.6s ease, background-color 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}