:root {
    --color-shades-50: rgba(255, 255, 255, 1);
    --color-shades-100: rgba(0, 0, 0, 1);
    --colorneutral-800: rgba(46, 65, 92, 1);
    --colorneutral-500: rgba(162, 180, 208, 1);
    --colorprimary-500: rgba(0, 87, 224, 1);
    --colorprimary-600:#1944BD;
    --color-dark-mode-900: rgba(16, 25, 38, 1);
    --colorneutral-400: rgba(177, 193, 216, 1);
    --colorneutral-200: rgba(208, 218, 231, 1);
    --colorneutral-600: rgba(100, 131, 177, 1);
    --lato-32-font-family: "Lato", Helvetica;
    --lato-32-font-weight: 100;
    --lato-32-font-size: 32px;
    --lato-32-letter-spacing: 0px;
    --lato-32-line-height: normal;
    --lato-32-font-style: normal;
    --roboto-condensed-32-font-family: "Roboto Condensed", Helvetica;
    --roboto-condensed-32-font-weight: 100;
    --roboto-condensed-32-font-size: 32px;
    --roboto-condensed-32-letter-spacing: 0px;
    --roboto-condensed-32-line-height: normal;
    --roboto-condensed-32-font-style: normal;
    --advent-pro-32-font-family: "Advent Pro", Helvetica;
    --advent-pro-32-font-weight: 100;
    --advent-pro-32-font-size: 32px;
    --advent-pro-32-letter-spacing: 0px;
    --advent-pro-32-line-height: normal;
    --advent-pro-32-font-style: normal;
    --albert-sans-32-font-family: "Albert Sans", Helvetica;
    --albert-sans-32-font-weight: 100;
    --albert-sans-32-font-size: 32px;
    --albert-sans-32-letter-spacing: 0px;
    --albert-sans-32-line-height: normal;
    --albert-sans-32-font-style: normal;
    --subheading-regular-font-family: "Montserrat", Helvetica;
    --subheading-regular-font-weight: 400;
    --subheading-regular-font-size: 20px;
    --subheading-regular-letter-spacing: 0px;
    --subheading-regular-line-height: 24px;
    --subheading-regular-font-style: normal;
    --paragraph-01-regular-font-family: "Montserrat", Helvetica;
    --paragraph-01-regular-font-weight: 400;
    --paragraph-01-regular-font-size: 14px;
    --paragraph-01-regular-letter-spacing: 0px;
    --paragraph-01-regular-line-height: 17px;
    --paragraph-01-regular-font-style: normal;
    --display-01-semibold-font-family: "Montserrat", Helvetica;
    --display-01-semibold-font-weight: 600;
    --display-01-semibold-font-size: 72px;
    --display-01-semibold-letter-spacing: -2.88px;
    --display-01-semibold-line-height: 80px;
    --display-01-semibold-font-style: normal;
    --h2-semi-bold-font-family: "Montserrat", Helvetica;
    --h2-semi-bold-font-weight: 600;
    --h2-semi-bold-font-size: 39px;
    --h2-semi-bold-letter-spacing: -0.78px;
    --h2-semi-bold-line-height: 47px;
    --h2-semi-bold-font-style: normal;
    --paragraph-03-semi-bold-font-family: "Montserrat", Helvetica;
    --paragraph-03-semi-bold-font-weight: 600;
    --paragraph-03-semi-bold-font-size: 18px;
    --paragraph-03-semi-bold-letter-spacing: 0px;
    --paragraph-03-semi-bold-line-height: 22px;
    --paragraph-03-semi-bold-font-style: normal;
    --caption-regular-font-family: "Montserrat", Helvetica;
    --caption-regular-font-weight: 400;
    --caption-regular-font-size: 12px;
    --caption-regular-letter-spacing: 0px;
    --caption-regular-line-height: 14px;
    --caption-regular-font-style: normal;
    --subheading-semi-bold-font-family: "Montserrat", Helvetica;
    --subheading-semi-bold-font-weight: 600;
    --subheading-semi-bold-font-size: 20px;
    --subheading-semi-bold-letter-spacing: 0px;
    --subheading-semi-bold-line-height: 24px;
    --subheading-semi-bold-font-style: normal;
    --paragraph-01-semi-bold-font-family: "Montserrat", Helvetica;
    --paragraph-01-semi-bold-font-weight: 600;
    --paragraph-01-semi-bold-font-size: 14px;
    --paragraph-01-semi-bold-letter-spacing: 0px;
    --paragraph-01-semi-bold-line-height: 17px;
    --paragraph-01-semi-bold-font-style: normal;
    --h3-semibold-font-family: "Montserrat", Helvetica;
    --h3-semibold-font-weight: 600;
    --h3-semibold-font-size: 33px;
    --h3-semibold-letter-spacing: -0.66px;
    --h3-semibold-line-height: 40px;
    --h3-semibold-font-style: normal;
    --h1-semi-bold-font-family: "Montserrat", Helvetica;
    --h1-semi-bold-font-weight: 600;
    --h1-semi-bold-font-size: 48px;
    --h1-semi-bold-letter-spacing: -1.92px;
    --h1-semi-bold-line-height: 56px;
    --h1-semi-bold-font-style: normal;
    --paragraph-03-regular-font-family: "Montserrat", Helvetica;
    --paragraph-03-regular-font-weight: 400;
    --paragraph-03-regular-font-size: 18px;
    --paragraph-03-regular-letter-spacing: 0px;
    --paragraph-03-regular-line-height: 22px;
    --paragraph-03-regular-font-style: normal;
    --collection-1-color: rgba(255, 255, 255, 1);
    --colorNeutral-800:#475569; 
    --h6-semibold-font-family: "Montserrat", Helvetica;
    --h6-semibold-font-size:19px;
    --h6-semibold-font-weight:600;
    }